<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bluetoothsample">

    <!-- 페어링 된 기기와 데이터를 송수신 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 환경설정에서 해주어야 하는 블루투스 관련 작업을 앱에서 수행 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--BLE 사용-->
    <uses-feature    android:name="android.hardware.bluetooth_le" android:required="true"/>
    <!--애플리케이션이 사용자 상호 작용없이 블루투스 장치를 페어링하고 전화 번호부 액세스 또는 메시지 액세스를 허용-->
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".regacy.BLEActivity">

        </activity>

        <activity android:name=".regacy.KotlinMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".native.NativeBleActivity"/>
        <service android:name=".native.BleService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>